# Kaggle Zillow First Analyse

In [27]:
import warnings
warnings.filterwarnings('ignore')

In [36]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [29]:
# home features
properties = pd.read_csv('../data/properties_2016.csv')   #, nrows=100000 , chunksize=10)
sample = pd.read_csv('../data/sample_submission.csv')
train = pd.read_csv('../data/train_2016_v2.csv')

In [30]:
df_train = train.merge(properties, how='left', on='parcelid')

In [31]:
# Data fields
zillow = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="Data Dictionary")
heating = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="HeatingOrSystemTypeID")
land_use = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="PropertyLandUseTypeID")
story = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="StoryTypeID")
air_cond = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="AirConditioningTypeID")
architec = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="ArchitecturalStyleTypeID")
type_construc = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="TypeConstructionTypeID")
building = pd.read_excel('../data/zillow_data_dictionary.xlsx', sheetname="BuildingClassTypeID")

In [75]:
properties.shape

(2985217, 58)

In [76]:
properties.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [72]:
sample.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0

In [86]:
zillow

,Feature,Description
0,'airconditioningtypeid',Type of cooling system present in the home (i...
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, ..."
2,'basementsqft',Finished living area below or partially below...
3,'bathroomcnt',Number of bathrooms in home including fractio...
4,'bedroomcnt',Number of bedrooms in home
5,'buildingqualitytypeid',Overall assessment of condition of the buildi...
6,'buildingclasstypeid',"The building framing type (steel frame, wood f..."
7,'calculatedbathnbr',Number of bathrooms in home including fractio...
8,'decktypeid',Type of deck (if any) present on parcel
9,'threequarterbathnbr',Number of 3/4 bathrooms in house (shower + si...
10,'finishedfloor1squarefeet',Size of the finished living area on the first...
11,'calculatedfinishedsquarefeet',Calculated total finished living area of the ...
12,'finishedsquarefeet6',Base unfinished and finished area
13,'finishedsquarefeet12',Finished living area
14,'finishedsquarefeet13',Perimeter living area
15,'finishedsquarefeet15',Total area
16,'finishedsquarefeet50',Size of the finished living area on the first...
17,'fips',Federal Information Processing Standard code ...
18,'fireplacecnt',Number of fireplaces in a home (if any)
19,'fireplaceflag',Is a fireplace present in this home
20,'fullbathcnt',"Number of full bathrooms (sink, shower + bath..."
21,'garagecarcnt',Total number of garages on the lot including ...
22,'garagetotalsqft',Total number of square feet of all garages on...
23,'hashottuborspa',Does the home have a hot tub or spa
24,'heatingorsystemtypeid',Type of home heating system
25,'latitude',Latitude of the middle of the parcel multipli...
26,'longitude',Longitude of the middle of the parcel multipl...
27,'lotsizesquarefeet',Area of the lot in square feet
28,'numberofstories',Number of stories or levels the home has
29,'parcelid',Unique identifier for parcels (lots)
30,'poolcnt',Number of pools on the lot (if any)
31,'poolsizesum',Total square footage of all pools on property
32,'pooltypeid10',Spa or Hot Tub
33,'pooltypeid2',Pool with Spa/Hot Tub
34,'pooltypeid7',Pool without hot tub
35,'propertycountylandusecode',County land use code i.e. it's zoning at the ...
36,'propertylandusetypeid',Type of land use the property is zoned for
37,'propertyzoningdesc',Description of the allowed land uses (zoning)...
38,'rawcensustractandblock',Census tract and block ID combined - also con...
39,'censustractandblock',Census tract and block ID combined - also con...
40,'regionidcounty',County in which the property is located
41,'regionidcity',City in which the property is located (if any)
42,'regionidzip',Zip code in which the property is located
43,'regionidneighborhood',Neighborhood in which the property is located
44,'roomcnt',Total number of rooms in the principal residence
45,'storytypeid',Type of floors in a multi-story house (i.e. b...
46,'typeconstructiontypeid',What type of construction material was used t...
47,'unitcnt',Number of units the structure is built into (...
48,'yardbuildingsqft17',Patio in yard
49,'yardbuildingsqft26',Storage shed/building in yard
50,'yearbuilt',The Year the principal residence was built
51,'taxvaluedollarcnt',The total tax assessed value of the parcel
52,'structuretaxvaluedollarcnt',The assessed value of the built structure on t...
53,'landtaxvaluedollarcnt',The assessed value of the land area of the parcel
54,'taxamount',The total property tax assessed for that asses...
55,'assessmentyear',The year of the property tax assessment
56,'taxdelinquencyflag',Property taxes for this parcel are past due as...
57,'taxdelinquencyyear',Year for which the unpaid propert taxes were due

In [84]:
train.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [55]:
properties.dtypes

parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                              int64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                   object
heatingorsystemtypeid           float64
latitude                          int64
longitude                         int64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertylandusetypeid             int64
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                    int64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                    object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                    int64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
dtype: object

In [77]:
properties.describe()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,2.985217e+06,811519.000000,6061.000000,1628.000000,2.973755e+06,2.973767e+06,12629.000000,1.938488e+06,2.856305e+06,17096.0,...,2647.000000,2.925289e+06,682069.000000,2.930235e+06,2.942667e+06,2.973778e+06,2.917484e+06,2.953967e+06,56464.000000,2.910091e+06
mean,1.332586e+07,1.931166,7.202607,646.883292,2.209143e+00,3.088949e+00,3.725948,5.784787e+00,2.299263e+00,66.0,...,278.296562,1.964262e+03,1.401464,1.708836e+05,4.204790e+05,2.014999e+03,2.524780e+05,5.377607e+03,13.892409,6.048431e+13
std,7.909966e+06,3.148587,2.436290,538.793473,1.077754e+00,1.275859e+00,0.501700,1.805352e+00,1.000736e+00,0.0,...,369.731508,2.344132e+01,0.539076,4.020683e+05,7.263467e+05,3.683161e-02,4.450132e+05,9.183107e+03,2.581006,3.249035e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,66.0,...,10.000000,1.801000e+03,1.000000,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,1.340000e+00,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,4.000000e+00,2.000000e+00,66.0,...,96.000000,1.950000e+03,1.000000,7.480000e+04,1.796750e+05,2.015000e+03,7.483600e+04,2.461070e+03,14.000000,6.037400e+13
50%,1.254509e+07,1.000000,7.000000,534.000000,2.000000e+00,3.000000e+00,4.000000,7.000000e+00,2.000000e+00,66.0,...,168.000000,1.963000e+03,1.000000,1.225900e+05,3.060860e+05,2.015000e+03,1.670420e+05,3.991780e+03,14.000000,6.037572e+13
75%,1.409712e+07,1.000000,7.000000,847.250000,3.000000e+00,4.000000e+00,4.000000,7.000000e+00,3.000000e+00,66.0,...,320.000000,1.981000e+03,2.000000,1.968890e+05,4.880000e+05,2.015000e+03,3.069180e+05,6.201005e+03,15.000000,6.059042e+13
max,1.696019e+08,13.000000,27.000000,8516.000000,2.000000e+01,2.000000e+01,5.000000,1.200000e+01,2.000000e+01,66.0,...,6141.000000,2.015000e+03,41.000000,2.514860e+08,2.827860e+08,2.016000e+03,9.024622e+07,3.458861e+06,99.000000,4.830301e+14

In [87]:
# Replace al NAN
col_tmp = []
for el in properties.columns.tolist():
    if 'squarefeet' in el:
        col_tmp.append(el)

properties[col_tmp] = properties[col_tmp].fillna(0)

In [97]:
properties[col_tmp].head()

,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,lotsizesquarefeet
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85768.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4083.0
2,0.0,73026.0,0.0,0.0,73026.0,0.0,0.0,63085.0
3,0.0,5068.0,0.0,0.0,5068.0,0.0,0.0,7521.0
4,0.0,1776.0,0.0,0.0,1776.0,0.0,0.0,8512.0

In [105]:
# Replace al NAN
col_tmp = []
for el in properties.columns.tolist():
    if 'pool' in el:
        col_tmp.append(el)
        
properties[col_tmp] = properties[col_tmp].fillna(0)

In [106]:
properties[properties.poolcnt > 0][col_tmp].head()

     poolcnt  poolsizesum  pooltypeid10  pooltypeid2  pooltypeid7
110      1.0          0.0           0.0          0.0          1.0
117      1.0          0.0           0.0          0.0          1.0
295      1.0        800.0           0.0          0.0          1.0
303      1.0        450.0           0.0          0.0          1.0
305      1.0        503.0           0.0          0.0          1.0

In [12]:
# Replace al NAN
col_tmp = []
for el in properties.columns.tolist():
    if 'room' in el:
        col_tmp.append(el)

properties[col_tmp] = properties[col_tmp].fillna(0)

In [20]:
properties[col_tmp].head()

   bathroomcnt  bedroomcnt  roomcnt
0          0.0         0.0      0.0
1          0.0         0.0      0.0
2          0.0         0.0      0.0
3          0.0         0.0      0.0
4          0.0         0.0      0.0

In [122]:
# Replace al NAN
col_tmp = []
for el in properties.columns.tolist():
    if 'year' in el:
        col_tmp.append(el)
        
properties[col_tmp] = properties[col_tmp].fillna(0)

In [123]:
properties[col_tmp].head()

   yearbuilt  assessmentyear  taxdelinquencyyear
0        0.0          2015.0                 0.0
1        0.0          2015.0                 0.0
2        0.0          2015.0                 0.0
3     1948.0          2015.0                 0.0
4     1947.0          2015.0                 0.0

In [43]:

col_tmp = []
for el in df_train.columns.tolist():
    if df_train[el].dtypes == 'float64':
        col_tmp.append(el)

df_train[col_tmp] = df_train[col_tmp].fillna(0)
df_train[col_tmp].head()

,logerror,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
0,0.0276,1.0,0.0,0.0,2.0,3.0,0.0,4.0,2.0,0.0,...,0.0,1959.0,0.0,122754.0,360170.0,2015.0,237416.0,6735.88,0.0,6.037107e+13
1,-0.1684,0.0,0.0,0.0,3.5,4.0,0.0,0.0,3.5,0.0,...,0.0,2014.0,0.0,346458.0,585529.0,2015.0,239071.0,10153.02,0.0,0.000000e+00
2,-0.0040,1.0,0.0,0.0,3.0,2.0,0.0,4.0,3.0,0.0,...,0.0,1940.0,0.0,61994.0,119906.0,2015.0,57912.0,11484.48,0.0,6.037464e+13
3,0.0218,1.0,0.0,0.0,2.0,2.0,0.0,4.0,2.0,0.0,...,0.0,1987.0,0.0,171518.0,244880.0,2015.0,73362.0,3048.74,0.0,6.037296e+13
4,-0.0050,0.0,0.0,0.0,2.5,4.0,0.0,0.0,2.5,0.0,...,0.0,1981.0,2.0,169574.0,434551.0,2015.0,264977.0,5488.96,0.0,6.059042e+13

In [49]:
col_tmp = []
for el in df_train.columns.tolist():
    if df_train[el].dtypes == 'object':
        col_tmp.append(el)
        df_train[el]=df_train[el].fillna(1)
        lbl = LabelEncoder()
        lbl.fit(list(df_train[el].values))
        df_train[el] = lbl.transform(list(df_train[el].values))
        
df_train[col_tmp].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [50]:
df_train[df_train.isnull()].describe()

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN